.invest__item {
	margin-bottom: 30px;

	.item__img {
		position: relative;
	}

	.item__description {
		padding-top: 10px;
		font-size: 14px;
	}

	.item__title {
		position: absolute;
		background-color: #878787;
		padding: 7px 10px;
		color: white;
		bottom: 0;
		left: 0;
		width: 100%;
		font-size: 14px;

		h4 {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			font-size: inherit;
		}
	}

	.item__text {
		margin-bottom: 15px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		color: #707070;
		font-weight: 300;
	}
}

@media (min-width: 768px) {
	.invest__item {
		.item__title {
			font-size: 16px;
		}

		.item__description {
			font-size: 16px;
		}
	}
}

@media (min-width: 1200px) {
	.invest__item {
		.item__title {
			font-size: 18px;
		}

		.item__description {
			font-size: 18px;
		}
	}
}
