@model MainProject.SBussiness.LandingPage.Models.Home.FooterViewModel

<footer>
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-xl-2">
					<div class="footer__logo"><img class="svg" src="/Content/resources/assets/logo_2.svg"></div>
					<div class="footer__address">
						<p>Add: Tòa nhà H3, 384 Hoàng Diệu, Quận 4, TP.Hồ Chí Minh</p>
						<p>Phone: 028. 38266766 <br>Fax: 028. 38266766</p>
						<p>Email: info@antingroup.vn</p>
					</div>
				</div>
				<div class="col-lg-8 col-xl-10">
					<div class="row">
						<div class="col-6 col-sm-4 col-xl">
							<h4 class="footer__title">VỀ AN TÍN GROUP</h4>
							<ul class="footer__navigation">
								<li class="nav__item"><a class="nav__link" href="#">Thông Điệp CT HĐQT</a></li>
								<li class="nav__item"><a class="nav__link" href="#">Tuyên Ngôn Giá Trị</a></li>
								<li class="nav__item"><a class="nav__link" href="#">Tuyên Ngôn Chiến Lược</a></li>
								<li class="nav__item"><a class="nav__link" href="#">Công Ty Thành Viên</a></li>
								<li class="nav__item"><a class="nav__link" href="#">Khách Hàng</a></li>
							</ul>
						</div>
						<div class="col-6 col-sm-4 col-xl">
							<h4 class="footer__title">LĨNH VỰC HOẠT ĐỘNG</h4>
							<ul class="footer__navigation">
								<li class="nav__item"><a class="nav__link" href="#">Lĩnh Vực Truyền Thông</a></li>
								<li class="nav__item"><a class="nav__link" href="#">Lĩnh Vực Du Lịch</a></li>
								<li class="nav__item"><a class="nav__link" href="#">Lĩnh Vực Công Nghệ</a></li>
								<li class="nav__item"><a class="nav__link" href="#">Lĩnh Vực Đầu Tư</a></li>
								<li class="nav__item"><a class="nav__link" href="#">Lĩnh Vực Du Học</a></li>
								<li class="nav__item"><a class="nav__link" href="#">Lĩnh Vực Đào Tạo</a></li>
							</ul>
						</div>
						<div class="col-12 col-sm-4 col-xl">
							<h4 class="footer__title">THÔNG TIN</h4>
							<ul class="footer__navigation">
								<li class="nav__item"><a class="nav__link" href="#">Sự Kiện An Tín</a></li>
								<li class="nav__item"><a class="nav__link" href="#">Video Sự Kiện An Tín</a></li>
								<li class="nav__item"><a class="nav__link" href="#">Tuyển Dụng</a></li>
								<li class="nav__item"><a class="nav__link" href="#">Thư Viện Ảnh</a></li>
								<li class="nav__item"><a class="nav__link" href="#">Cơ Hội Nghề Nghiệp</a></li>
								<li class="nav__item"><a class="nav__link" href="#">Liên Hệ</a></li>
							</ul>
						</div>
						<div class="col-12 col-xl-4">
							<h4 class="footer__title">ĐĂNG KÍ NHẬN TIN</h4>
							<form class="footer__subscribe">
								<p class="subscribe__description">Xin vui lòng để lại địa chỉ email, chúng tôi sẽ cập nhật những tin tức quan trọng của An Tín Group tới quý khách</p>
								<div class="subscribe__input">
									<input type="text" placeholder="Email">
									<button>Xác nhận</button>
								</div>
							</form>
							<div class="footer__social">
								<div class="social__item"><a class="social__link" href="#"><img class="svg" src="/Content/resources/assets/icons/facebook.svg"></a></div>
								<div class="social__item"><a class="social__link" href="#"><img class="svg" src="/Content/resources/assets/icons/instagram.svg"></a></div>
								<div class="social__item"><a class="social__link" href="#"><img class="svg" src="/Content/resources/assets/icons/zalo.svg"></a></div>
								<div class="social__item"><a class="social__link" href="#"><img class="svg" src="/Content/resources/assets/icons/envelope.svg"></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright"></div>
</footer>