@using MainProject.Core.Enums
@model MainProject.SBussiness.LandingPage.Models.Home.SubscribeModel

@using (Ajax.BeginForm("Subscribe", "Home", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "subscribeSuccess" }))
{
    <div class="form-group">
        @Html.TextBoxFor(d => d.Email, new { placeholder="Enter your e-mail" })
        @Html.ValidationMessageFor(d => d.Email)
        <button>SUBSCRIBE</button>
    </div>
}

<script>
    function subscribeSuccess(response) {
        alert(response.Message);
        if (response.Code == 200) {
            window.location.href = window.location;
        }
    }
</script>