@using MainProject.Core.Enums
@model MainProject.SBussiness.LandingPage.Models.Home.SubscribeModel

@using (Ajax.BeginForm("Subscribe", "Home", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "subscribeSuccess" }))
{
	<div class="subscribe__input">
		@Html.TextBoxFor(d => d.Email, new { placeholder = "Email" })
		@Html.ValidationMessageFor(d => d.Email)
		<button>Xác nhận</button>
	</div>
}

<script>
	function subscribeSuccess(response) {
		alert(response.Message);
		if (response.Code == 200) {
			window.location.href = window.location;
		}
	}
</script>