@using MainProject.Core
@model MainProject.SBussiness.LandingPage.Models.Home.HomeViewModel


<div class="index-business-investment">
	<div class="bi__contents">
		<div class="bi__content-wrapper">
			<div class="bi__logo"><img src="/Content/resources/assets/logo.svg"></div>
			<div class="bi__sentences">
				<p class="fs-i"><b>Phụng sự khách hàng, phụng sự Tổ quốc </b>và gắn kết bạn bè thế giới, góp phần kiến tạo cộng đồng thịnh vượng, nâng cao các giá trị văn hóa Việt Nam, giao lưu với các nền văn hóa trên thế giới</p>
			</div>
			<div class="bi__author">
				<h3><span>TS Nguyễn Đức Thọ</span></h3>
				<p><b>CHỦ TỊCH HĐQT - TGĐ</b></p>
			</div>
		</div>
	</div>
	<div class="bi__fields">
		<div class="row no-gutters">
			<div class="col-lg-20">
				<div class="bi__field-item--title desktop">
					<div class="item__img"><img class="lazyload ofcv" data-src="/Content/resources/assets/invest/invest_index_title.jpg" alt=""></div>
					<div class="item__description">
						<h3 class="item__title">Lĩnh vực <br>đầu tư</h3>
					</div>
				</div>
				<div class="block__title d-f jc-c mobile">
					<h2 class="main-title cl-main mb-40">Lĩnh vực đầu tư</h2>
				</div>
			</div>
			<div class="col-lg-80">
				<div class="swiper-container">
					<div class="swiper-prev fcc"><img class="svg" src="/Content/resources/assets/icons/swiper_prev_1.svg"></div>
					<div class="swiper-next fcc"><img class="svg" src="/Content/resources/assets/icons/swiper_next_1.svg"></div>
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="bi__field-item">
								<a class="item__link" href="#">
									<div class="item__img"><img class="lazyload ofcv" data-src="/Content/resources/assets/invest/invest_index_1.jpg" alt=""></div>
									<div class="item__description">
										<h4 class="item__number">01</h4>
										<h3 class="item__title">Bất động sản</h3>
										<p class="item__viewmore">Xem thêm<img class="svg" src="/Content/resources/assets/icons/arrow_right_no_outline.svg"></p>
									</div>
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="bi__field-item">
								<a class="item__link" href="#">
									<div class="item__img"><img class="lazyload ofcv" data-src="/Content/resources/assets/invest/invest_index_2.jpg" alt=""></div>
									<div class="item__description">
										<h4 class="item__number">02</h4>
										<h3 class="item__title">Giáo dục</h3>
										<p class="item__viewmore">Xem thêm<img class="svg" src="/Content/resources/assets/icons/arrow_right_no_outline.svg"></p>
									</div>
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="bi__field-item">
								<a class="item__link" href="#">
									<div class="item__img"><img class="lazyload ofcv" data-src="/Content/resources/assets/invest/invest_index_3.jpg" alt=""></div>
									<div class="item__description">
										<h4 class="item__number">03</h4>
										<h3 class="item__title">Hàng không</h3>
										<p class="item__viewmore">Xem thêm<img class="svg" src="/Content/resources/assets/icons/arrow_right_no_outline.svg"></p>
									</div>
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="bi__field-item">
								<a class="item__link" href="#">
									<div class="item__img"><img class="lazyload ofcv" data-src="/Content/resources/assets/invest/invest_index_4.jpg" alt=""></div>
									<div class="item__description">
										<h4 class="item__number">04</h4>
										<h3 class="item__title">Du lịch</h3>
										<p class="item__viewmore">Xem thêm<img class="svg" src="/Content/resources/assets/icons/arrow_right_no_outline.svg"></p>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="index-project pb-70">
	<div class="container">
		<div class="block__content-long">
			<div class="row index-project-titles">
				<div class="col-md-auto">
					<div class="block__title">
						<h2 class="main-title cl-main">Dự án</h2>
					</div>
				</div>
				<div class="col-md-6 ml-at">
					<nav class="index-project__nav">
						<div class="swiper-prev fcc"><img class="svg" src="/Content/resources/assets/icons/swiper_prev_1.svg"></div>
						<div class="swiper-next fcc"><img class="svg" src="/Content/resources/assets/icons/swiper_next_1.svg"></div>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><a class="nav-link" href="/api/project.html">Du lịch</a></div>
								<div class="swiper-slide"><a class="nav-link" href="/api/travel.html">Bất động sản</a></div>
								<div class="swiper-slide"><a class="nav-link" href="/api/project.html">Hàng không</a></div>
								<div class="swiper-slide"><a class="nav-link" href="/api/travel.html">Truyền thông</a></div>
								<div class="swiper-slide"><a class="nav-link" href="/api/project.html">Giáo dục</a></div>
								<div class="swiper-slide"><a class="nav-link" href="/api/travel.html">Đầu tư</a></div>
								<div class="swiper-slide"><a class="nav-link" href="/api/project.html">Công nghệ</a></div>
							</div>
						</div>
					</nav>
				</div>
			</div>
			<div class="index-project-list">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="index-project-item">
								<a class="item__link" href="#">
									<div class="item__img ov-h"><img class="lazyload blur-up ofcv" data-src="/Content/resources/assets/project/index_project_1.jpg" alt=""></div>
									<div class="item__description">
										<h4 class="item__title">KHU DU LỊCH NGHỈ DƯỠNG VÀ BIỆT THỰ SINH THÁI FLC CÙ LAO XANH, QUY NHƠN, BÌNH ĐỊNH</h4>
									</div>
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="index-project-item">
								<a class="item__link" href="#">
									<div class="item__img ov-h"><img class="lazyload blur-up ofcv" data-src="/Content/resources/assets/project/index_project_2.jpg" alt=""></div>
									<div class="item__description">
										<h4 class="item__title">Tổ Hợp Chung Cư Cao Cấp Và Văn Phòng Cho Thuê Bamboo Airways Tower</h4>
									</div>
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="index-project-item">
								<a class="item__link" href="#">
									<div class="item__img ov-h"><img class="lazyload blur-up ofcv" data-src="/Content/resources/assets/project/index_project_3.jpg" alt=""></div>
									<div class="item__description">
										<h4 class="item__title">Tổ Hợp Chung Cư Cao Cấp Và Văn Phòng Cho Thuê Bamboo Airways Tower</h4>
									</div>
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="index-project-item">
								<a class="item__link" href="#">
									<div class="item__img ov-h"><img class="lazyload blur-up ofcv" data-src="/Content/resources/assets/project/index_project_1.jpg" alt=""></div>
									<div class="item__description">
										<h4 class="item__title">Tổ Hợp Chung Cư Cao Cấp Và Văn Phòng Cho Thuê Bamboo Airways Tower</h4>
									</div>
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="index-project-item">
								<a class="item__link" href="#">
									<div class="item__img ov-h"><img class="lazyload blur-up ofcv" data-src="/Content/resources/assets/project/index_project_3.jpg" alt=""></div>
									<div class="item__description">
										<h4 class="item__title">Tổ Hợp Chung Cư Cao Cấp Và Văn Phòng Cho Thuê Bamboo Airways Tower</h4>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="index-brand-positioning">
	<div class="brand-positioning__wrapper">
		<div class="container">
			<div class="block__content-long pd-70">
				<div class="block__title d-f jc-c">
					<h2 class="main-title cl-white tagline">Tuyên ngôn chiến lược</h2>
				</div>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="brand-positioning__item">
								<div class="item__description">
									<span class="item__number">01</span>
									<h4 class="item__title">Mục tiêu 2025</h4>
									<p class="item__text">Độ nhận biết đầu tiên: 60% trong (nhóm khách hàng mục tiêu)</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="brand-positioning__item">
								<div class="item__description">
									<span class="item__number">02</span>
									<h4 class="item__title">Mục tiêu 2026</h4>
									<p class="item__text">Tỉ số lợi nhuận trước thuế và lãi vay (EBIT margin): 8%</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="brand-positioning__item">
								<div class="item__description">
									<span class="item__number">03</span>
									<h4 class="item__title">Mục tiêu 2027</h4>
									<p class="item__text">Xếp hàng đầu trong các công ty ngành du lịch Việt Nam</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="brand-positioning__item">
								<div class="item__description">
									<span class="item__number">04</span>
									<h4 class="item__title">Mục tiêu 2028</h4>
									<p class="item__text">Xếp hạng MỘT nhà tuyển dung hấp dẫn nhất trong các công ty du lịch Việt Nam</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="brand-positioning__item">
								<div class="item__description">
									<span class="item__number">05</span>
									<h4 class="item__title">Mục tiêu 2029</h4>
									<p class="item__text">Độ nhận biết đầu tiên: 60% trong (nhóm khách hàng mục tiêu)</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="brand-positioning__item">
								<div class="item__description">
									<span class="item__number">05</span>
									<h4 class="item__title">Mục tiêu 2030</h4>
									<p class="item__text">Độ nhận biết đầu tiên: 60% trong (nhóm khách hàng mục tiêu)</p>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="index-news pd-70">
	<div class="container-fluid">
		<div class="row no-gutters">
			<div class="col-lg-4">
				<div class="block__title">
					<h2 class="main-title cl-main">Tin tức</h2>
					<nav class="index-news__nav desktop">
						<div class="nav__item"><a class="nav__link" href="/api/news.html">TIN AN TÍN GROUP</a></div>
						<div class="nav__item active"><a class="nav__link" href="/api/news.html">THÔNG TIN BÁO CHÍ</a></div>
						<div class="nav__item"><a class="nav__link" href="/api/news.html">THÔNG TIN HỢP TÁC</a></div>
					</nav>
					<nav class="index-news__nav mobile">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><a class="nav__link" href="/api/news.html">TIN AN TÍN GROUP</a></div>
								<div class="swiper-slide"><a class="nav__link" href="/api/news.html">THÔNG TIN BÁO CHÍ</a></div>
								<div class="swiper-slide"><a class="nav__link" href="/api/news.html">THÔNG TIN HỢP TÁC</a></div>
							</div>
						</div>
						<div class="swiper-prev fcc"><img class="svg" src="/Content/resources/assets/icons/swiper_prev_1.svg"></div>
						<div class="swiper-next fcc"><img class="svg" src="/Content/resources/assets/icons/swiper_next_1.svg"></div>
					</nav>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="index-news__list">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="index-news__item">
									<a class="item__link" href="news-chitiet.html">
										<div class="item__img"><img src="/Content/resources/assets/news/news_1.jpg"></div>
										<div class="item__description">
											<h4 class="item__title">An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac</h4>
										</div>
									</a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="index-news__item">
									<a class="item__link" href="news-chitiet.html">
										<div class="item__img"><img src="/Content/resources/assets/news/news_2.jpg"></div>
										<div class="item__description">
											<h4 class="item__title">An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac</h4>
										</div>
									</a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="index-news__item">
									<a class="item__link" href="news-chitiet.html">
										<div class="item__img"><img src="/Content/resources/assets/news/news_3.jpg"></div>
										<div class="item__description">
											<h4 class="item__title">An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac</h4>
										</div>
									</a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="index-news__item">
									<a class="item__link" href="news-chitiet.html">
										<div class="item__img"><img src="/Content/resources/assets/news/news_4.jpg"></div>
										<div class="item__description">
											<h4 class="item__title">An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac</h4>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="index-partner">
	<div class="container">
		<div class="block__content-long">
			<div class="swiper-prev fcc"><img class="svg" src="/Content/resources/assets/icons/swiper_prev_1.svg"></div>
			<div class="swiper-next fcc"><img class="svg" src="/Content/resources/assets/icons/swiper_next_1.svg"></div>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="index-partner__item">
							<a class="item__link" href="#">
								<div class="item__img"><img src="/Content/resources/assets/partner/partner_1.png" alt=""></div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="index-partner__item">
							<a class="item__link" href="#">
								<div class="item__img"><img src="/Content/resources/assets/partner/partner_2.png" alt=""></div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="index-partner__item">
							<a class="item__link" href="#">
								<div class="item__img"><img src="/Content/resources/assets/partner/partner_3.png" alt=""></div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="index-partner__item">
							<a class="item__link" href="#">
								<div class="item__img"><img src="/Content/resources/assets/partner/partner_4.png" alt=""></div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="index-partner__item">
							<a class="item__link" href="#">
								<div class="item__img"><img src="/Content/resources/assets/partner/partner_5.png" alt=""></div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="index-partner__item">
							<a class="item__link" href="#">
								<div class="item__img"><img src="/Content/resources/assets/partner/partner_6.png" alt=""></div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="index-partner__item">
							<a class="item__link" href="#">
								<div class="item__img"><img src="/Content/resources/assets/partner/partner_7.png" alt=""></div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="index-page" id="js-page-verify" hidden></div>