@using MainProject.Core
@model string


<div class="page__nav-container">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-lg-auto page__nav wow fadeInUp">
				<h2>@Html.GetResource(TempResourceKeyCollection.About)</h2>
				<ul class="nav__list lst-n">
					@Html.Raw(Model)
				</ul>
			</div>
		</div>
	</div>
</div>