@using MainProject.Core
@model MainProject.SBussiness.LandingPage.Models.About.AboutViewModel


@Html.Action("ShowMenu", "About")
<div class="about__customers pd-70 ov-h">
	<div class="container">
		<div class="about__customers-wrapper">
			<div class="row">
				@foreach (var Item in JsonHelper.Deserialize<List<NewImage>>(Model.Category.Content) ?? new List<NewImage>())
				{

					<div class="col-6 col-md-4 wow fadeInUp">
						<div class="about__customers__item">
							<a class="item__link fcc" href=@Item.ExternalUrl>
								<img class="lazyload blur-up" data-src=@Item.ImageDefault>
							</a>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
<div class="about-page" id="js-page-verify" hidden></div>