@using MainProject.Core
@model MainProject.SBussiness.LandingPage.Models.About.AboutViewModel

@Html.Partial("_AboutMenu", new MainProject.SBussiness.LandingPage.Models.About.AboutViewModel())
<div class="about__company-members pd-70">
	<div class="container">
		<div class="about__company-members-wrapper">
			<div class="row">
				@foreach (var Item in JsonHelper.Deserialize<List<NewImage>>(Model.AboutDepartment.Images))
				{
					<div class="col-sm-6">
						<div class="about__company-member__item">
							<a class="item__link" href=@Item.ExternalUrl>
								<div class="item__img"><img class="ofcv lazyload blur-up" data-src=@Item.ImageDefault></div>
								<div class="item__description">
									<div class="item__label"><img class="lazyload blur-up" data-src="/Content/resources/assets/icons/antin_label.svg"></div>
									<h4 class="item__title tt-u">@Item.Name</h4>
								</div>
							</a>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
<div class="about-page" id="js-page-verify" hidden></div>