.invest-list.pd-70
	.container
		.invest-list__wrapper.block__content-long
			.invest-list__intro
				h3 Title Description
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quo exercitationem eum. Temporibus nam placeat numquam id ea, tenetur commodi neque possimus fugiat consectetur eveniet quisquam. Exercitationem non voluptates est.
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur commodi eligendi modi illo harum. Maxime sunt ad nostrum odio tempore provident? Totam inventore ipsum laudantium accusamus veritatis ab facere magnam.
			.row
				.col-sm-6.col-md-4
					.invest__item
						a.item__link(href="invest-chitiet.html")
							.item__img
								img.lazyload.blur-up.ofcv(data-src="./assets/invest/invest_item_1.jpg")
								.item__title
									h4 TGĐ An Tín Group: “ Dự án bất động sản An Tín Group ”
							.item__description
								.item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, and mad consectetur elit sed do eiusmod tempor incididunt ut labore et dolore magna...
								span.btn.btn__viewmore Xem thêm


				.col-sm-6.col-md-4
					.invest__item
						a.item__link(href="invest-chitiet.html")
							.item__img
								img.lazyload.blur-up.ofcv(data-src="./assets/invest/invest_item_1.jpg")
								.item__title
									h4 TGĐ An Tín Group: “ Dự án bất động sản An Tín Group ”
							.item__description
								.item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, and mad consectetur elit sed do eiusmod tempor incididunt ut labore et dolore magna...
								span.btn.btn__viewmore Xem thêm


				.col-sm-6.col-md-4
					.invest__item
						a.item__link(href="invest-chitiet.html")
							.item__img
								img.lazyload.blur-up.ofcv(data-src="./assets/invest/invest_item_1.jpg")
								.item__title
									h4 TGĐ An Tín Group: “ Dự án bất động sản An Tín Group ”
							.item__description
								.item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, and mad consectetur elit sed do eiusmod tempor incididunt ut labore et dolore magna...
								span.btn.btn__viewmore Xem thêm


				.col-sm-6.col-md-4
					.invest__item
						a.item__link(href="invest-chitiet.html")
							.item__img
								img.lazyload.blur-up.ofcv(data-src="./assets/invest/invest_item_1.jpg")
								.item__title
									h4 TGĐ An Tín Group: “ Dự án bất động sản An Tín Group ”
							.item__description
								.item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, and mad consectetur elit sed do eiusmod tempor incididunt ut labore et dolore magna...
								span.btn.btn__viewmore Xem thêm


				.col-sm-6.col-md-4
					.invest__item
						a.item__link(href="invest-chitiet.html")
							.item__img
								img.lazyload.blur-up.ofcv(data-src="./assets/invest/invest_item_1.jpg")
								.item__title
									h4 TGĐ An Tín Group: “ Dự án bất động sản An Tín Group ”
							.item__description
								.item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, and mad consectetur elit sed do eiusmod tempor incididunt ut labore et dolore magna...
								span.btn.btn__viewmore Xem thêm
			.pagination__wrapper
				+pagination

