@using MainProject.Core
@model MainProject.SBussiness.LandingPage.Models.Gallery.GalleryViewModel


<div class="gallery">
	<div class="gallery-images pt-70">
		<div class="container">
			<div class="block__title">
				<h2 class="main-title cl-main ta-c">Thư viện hình ảnh</h2>
			</div>
			<div class="gallery-images__slider">
				<div class="swiper__prev"><img class="svg" src="/Content/resources/assets/icons/arrow_left_2.svg"></div>
				<div class="swiper__next"><img class="svg" src="/Content/resources/assets/icons/arrow_right_2.svg"></div>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						@foreach (var album in Model.ImageAlbums)
						{
							<div class="swiper-slide" type="image">
								<div class="gallery-images__item">
									<div class="item__img">
										<img src="@album.Path" alt="">
									</div>
									<div class="item__list">
										@foreach (var image in album.Images)
										{
											<a href="@image.Path">
												<img src=@image.Path>
											</a>
										}
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gallery-videos pd-70">
		<div class="container">
			<div class="block__title">
				<h2 class="main-title cl-main ta-c">Thư viện Video</h2>
			</div>
			<div class="gallery-videos__slider">
				<div class="swiper__prev"><img class="svg" src="/Content/resources/assets/icons/arrow_left_2.svg"></div>
				<div class="swiper__next"><img class="svg" src="/Content/resources/assets/icons/arrow_right_2.svg"></div>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						@foreach (var album in Model.VideoAlbums)
						{
							<div class="swiper-slide" type="video">
								<div class="gallery-videos__item">
									<a class="item__link" href="https://www.youtube.com/watch?v=@album.Path">
										<div class="item__img"><img src="@album.Image" alt=""></div>
										<div class="item__play"><img class="svg" src="/Content/resources/assets/icons/video_play.svg"></div>
									</a>
									<div class="item__description">
										<h4>@album.Name</h4>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="gallery-page" id="js-page-verify" hidden></div>