.about__antin {
	background-image: url(../assets/about/about_background_1.jpg);
	background-size: cover;
	background-position: 50% 0;
	background-repeat: no-repeat;

	.block__img {
		margin: 0 auto;
	}

	.block__content {
		display: flex;
		margin: 0 auto;
		align-items: center;
		padding-bottom: 10px;

		.content {
			@extend .scrollbar;
			max-height: 100%;
		}
	}
}

@media (min-width: 768px) {
	.about__antin {

		.block__img {
			max-width: 680px;
		}

		.block__content {
			max-width: 680px;

			.content {
				padding: 15px;
			}
		}
	}
}