.contact.pd-70
	.container
		.block__content-short
			.contact__info
				.row
					.col-sm-4
						.contact__item
							.item__img
								img.svg(src="./assets/icons/marker.svg")
							.item__description
								p Tòa nhà H3, 384 Hoàng Diệu, 
									br
									| Quận 4, TP.Hồ Chí Minh
					.col-sm-4
						.contact__item
							.item__img
								img.svg(src="./assets/icons/phone.svg")
							.item__description
								p 028.38266766 - 028.38266766
					.col-sm-4
						.contact__item
							.item__img
								img.svg(src="./assets/icons/envelope_2.svg")
							.item__description
								p info@antingroup.vn
			.contact__map
				#map
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.664376207594!2d106.69690491526032!3d10.760328662431835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f133765f339%3A0x99f29a2fa8faa1c!2zQ2h1bmcgY8awIEgzLCAzODQgSG_DoG5nIERp4buHdSwgUGjGsOG7nW5nIDYsIFF14bqtbiA0LCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1585018430920!5m2!1svi!2s', frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0')
			.contact__form
				.row
					.col-md-6
						.form__img
							img.lazyload.blur-up(data-src="./assets/contact/contact_1.jpg")
					.col-md-6.form__wrapper
						h2.main-title.cl-main Liên hệ
						form.form-ajax
							.row
								.col-6.form__group
									input.form__control(type="text" placeholder="Họ tên*" name="Fullname")
								.col-6.form__group
									input.form__control(type="text" placeholder="Email*" name="Email")
								.col-12.form__group
									input.form__control(type="text" placeholder="Gửi tới phòng ban*" name="Department")
								.col-12.form__group
									textarea.form__control.form__textarea(placeholder="Nội dung*" name="Content")
								.col-6.form__group.form__button
									button.btn.btn__submit.form-ajax__submit(data-url="/test") Gửi
								.col-6.form__group.form__logo
									img.svg(data-src="./assets/logo.svg")
