.about__declarations
	.values-strategy
		.container
			.row
				.col-6
					.values-strategy__item
						.item__description
							h3.item__title.d-f.ai-c
								b.item__number 01
								span.item__field-name 
									| Tuyên ngôn 
									br
									| giá trị
				.col-6
					.values-strategy__item
						.item__description
							h3.item__title.d-f.ai-c
								b.item__number 02
								span.item__field-name 
									| Tuyên ngôn 
									br
									| chiến lược
	.about__values
		.row.no-gutters
			.col-md-6
				.block__img.about__values-img
					img.lazyload.blur-up(data-src="./assets/about/about_2.jpg")
			.col-md-6
				.block__content.about__values-content
					.content
						h2 Tuyên ngôn giá trị
						h3 Lorem Ipsum is simply
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Made aLorem Ipsum has been the industry's standard dummy text ever since the typesetting industry. when an unknown 
						br
						p type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum made in only. Contrary to popular belief, Lorem Ipsum is not simply random text.Made of more, It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.
						br
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Made aLorem Ipsum has been the industry's standard dummy text ever since the typesetting industry. when an unknown 
						p type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
						.bi__author
							.logo
								img.lazyload.blur-up(data-src="./assets/logo.svg")
							h3 AN TÍN GROUP
	.about__strategy
		.about__strategy-background
			img.lazyload.blur-up(data-src="./assets/about/about_background_3.jpg")
		.block__content.about__strategy-content
			.row.no-gutters
				.col-lg-6
					.content
						h2 tuyên ngôn chiến lược 
						h3 MỤC TIÊU 2030
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Made aLorem Ipsum has been the industry's standard dummy text ever since the typesetting 
						br
						p industry, when an unknown printer took a galley when an unknown whentype and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum made in only. Contrary to popular belief, Lorem Ipsum is not simply random text.Made of more. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Made aLorem Ipsum has been the