.page__nav-container
	.container
		.row.no-gutters
			.col-lg-auto.page__nav
				h2 Giới thiệu
				ul.nav__list.lst-n
					li.nav__item
						a.nav__link(href="about-thongdiep.html") Thông điệp CT HĐQT
					li.nav__item
						a.nav__link(href="about-bld.html") Ban lãnh đạo
					li.nav__item
						a.nav__link(href="about-sodo.html") Sơ đồ tổ chức
					li.nav__item
						a.nav__link(href="about-thanhvien.html") Công ty thành viên
					li.nav__item
						a.nav__link(href="about-khachhang.html") Khách hàng
					li.nav__item
						a.nav__link(href="about-codong.html") Cổ đông