.invest-detail__content {
	h1 {
		font-size: 15px;
		color: map-get($mau, main);
		text-transform: uppercase;
	}

	p {
		font-size: 13px;
		color: #707070;
	}

	img {
		display: inline-block;
	}
}


@media (min-width: 768px) {
	.invest-detail__content {
		h1 {
			font-size: 19px;
		}

		p {
			font-size: 15px;
		}
	}
}


@media (min-width: 1200px) {
	.invest-detail__content {
		h1 {
			font-size: 23px;
		}

		p {
			font-size: 17px;
		}
	}
}
