@using MainProject.Core
@model MainProject.SBussiness.LandingPage.Models.News.NewsViewModel


<div class="page__nav-container">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-lg-auto page__nav">
				<h2>@Model.NewsCategoryTitle.Title</h2>
				<ul class="nav__list lst-n">
					@Html.Raw(Model.Category)
				</ul>
			</div>
		</div>
	</div>
</div>