@model List<MainProject.Core.Article>

<h2 class="main-title cl-main mb-40">@Html.GetResource(TempResourceKeyCollection.Hot_News)</h2>
<div class="news-hot">
	<div class="row">
		@foreach (var item in Model)
        {
			<div class="col-6 col-md-4 col-lg-12">
				<div class="news-hot__item">
					<a class="item__link" href=@item.GetUrl()>
						<div class="item__img">
							<img class="lazyload blur-up" data-src=@item.ImageDefault>
						</div>
						<div class="item__description">
							<h4 class="item__title">@item.Title</h4>
						</div>
					</a>
				</div>
			</div>
		}
	</div>
</div>