
@using MainProject.Core
@model MainProject.SBussiness.LandingPage.Models.News.NewsViewModel



<h2 class="main-title cl-main mb-40">@Html.GetResource(TempResourceKeyCollection.Hot_News)</h2>
<div class="news-hot">
	<div class="row">
		@foreach (var Item in Model.HotNewsItems)
		{
			<div class="col-6 col-md-4 col-lg-12">
				<div class="news-hot__item">
					<a class="item__link" href=@Item.ExternalUrl>
						<div class="item__img">
							<img class="lazyload blur-up" data-src=@Item.ImageDefault>
						</div>
						<div class="item__description">
							<h4 class="item__title">@Item.Title</h4>
						</div>
					</a>
				</div>
			</div>
		}
	</div>
</div>