.index-brand-positioning
	.brand-positioning__wrapper
		.container
			.block__content-long.pd-70
				.block__title.d-f.jc-c.wow.fadeInUp
					h2.main-title.cl-white.tagline Tuyên ngôn chiến lược
				.swiper-container.wow.fadeInUp
					.swiper-wrapper
						.swiper-slide
							.brand-positioning__item
								.item__description
									span.item__number 01
									h4.item__title Mục tiêu 2025
									p.item__text Độ nhận biết đầu tiên: 60% trong (nhóm khách hàng mục tiêu)
						.swiper-slide
							.brand-positioning__item
								.item__description
									span.item__number 02
									h4.item__title Mục tiêu 2026
									p.item__text Tỉ số lợi nhuận trước thuế và lãi vay (EBIT margin): 8%
						.swiper-slide
							.brand-positioning__item
								.item__description
									span.item__number 03
									h4.item__title Mục tiêu 2027
									p.item__text Xếp hàng đầu trong các công ty ngành du lịch Việt Nam
						.swiper-slide
							.brand-positioning__item
								.item__description
									span.item__number 04
									h4.item__title Mục tiêu 2028
									p.item__text Xếp hạng MỘT nhà tuyển dung hấp dẫn nhất trong các công ty du lịch Việt Nam
						.swiper-slide
							.brand-positioning__item
								.item__description
									span.item__number 05
									h4.item__title Mục tiêu 2029
									p.item__text Độ nhận biết đầu tiên: 60% trong (nhóm khách hàng mục tiêu)
						.swiper-slide
							.brand-positioning__item
								.item__description
									span.item__number 05
									h4.item__title Mục tiêu 2030
									p.item__text Độ nhận biết đầu tiên: 60% trong (nhóm khách hàng mục tiêu)
					.swiper-pagination