.index-news.pd-70
	.container-fluid
		.row.no-gutters
			.col-lg-4.col-xl-3
				.block__title
					h2.main-title.cl-main.wow.fadeInUp Tin tức
					nav.index-news__nav.desktop.wow.fadeInUp
						.nav__item
							a.nav__link(href="/api/news.html") TIN AN TÍN GROUP
						.nav__item.active
							a.nav__link(href="/api/news.html") THÔNG TIN BÁO CHÍ
						.nav__item
							a.nav__link(href="/api/news.html") THÔNG TIN HỢP TÁC
					nav.index-news__nav.mobile.wow.fadeInUp
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									a.nav__link(href="/api/news.html") TIN AN TÍN GROUP
								.swiper-slide
									a.nav__link(href="/api/news.html") THÔNG TIN BÁO CHÍ
								.swiper-slide
									a.nav__link(href="/api/news.html") THÔNG TIN HỢP TÁC
						.swiper-prev.fcc
							img.svg(src="./assets/icons/swiper_prev_1.svg")
						.swiper-next.fcc
							img.svg(src="./assets/icons/swiper_next_1.svg")
			.col-lg-8.col-xl-9
				.index-news__list.wow.fadeInUp
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.index-news__item
									a.item__link(href="news-chitiet.html")
										.item__img
											img(src="./assets/news/news_1.jpg")
										.item__description
											h4.item__title An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac
											time 25/10/2010
											p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, quam minima? Similique incidunt adipisci architecto vitae dolores quae, quos consectetur, praesentium perspiciatis id qui libero quisquam odio est velit optio!
							.swiper-slide
								.index-news__item
									a.item__link(href="news-chitiet.html")
										.item__img
											img(src="./assets/news/news_2.jpg")
										.item__description
											h4.item__title An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac
											time 25/10/2010
											p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, quam minima? Similique incidunt adipisci architecto vitae dolores quae, quos consectetur, praesentium perspiciatis id qui libero quisquam odio est velit optio!
							.swiper-slide
								.index-news__item
									a.item__link(href="news-chitiet.html")
										.item__img
											img(src="./assets/news/news_3.jpg")
										.item__description
											h4.item__title An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac
											time 25/10/2010
											p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, quam minima? Similique incidunt adipisci architecto vitae dolores quae, quos consectetur, praesentium perspiciatis id qui libero quisquam odio est velit optio!
							.swiper-slide
								.index-news__item
									a.item__link(href="news-chitiet.html")
										.item__img
											img(src="./assets/news/news_4.jpg")
										.item__description
											h4.item__title An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac
											time 25/10/2010
											p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, quam minima? Similique incidunt adipisci architecto vitae dolores quae, quos consectetur, praesentium perspiciatis id qui libero quisquam odio est velit optio!
						.swiper-pagination