.index-partner.wow.fadeInUp
	.container
		.block__content-long
			.swiper-prev.fcc
				img.svg(src="./assets/icons/swiper_prev_1.svg")
			.swiper-next.fcc
				img.svg(src="./assets/icons/swiper_next_1.svg")
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.index-partner__item
							a.item__link(href="#")
								.item__img
									img(src="./assets/partner/partner_1.png", alt="")
					.swiper-slide
						.index-partner__item
							a.item__link(href="#")
								.item__img
									img(src="./assets/partner/partner_2.png", alt="")
					.swiper-slide
						.index-partner__item
							a.item__link(href="#")
								.item__img
									img(src="./assets/partner/partner_3.png", alt="")
					.swiper-slide
						.index-partner__item
							a.item__link(href="#")
								.item__img
									img(src="./assets/partner/partner_4.png", alt="")
					.swiper-slide
						.index-partner__item
							a.item__link(href="#")
								.item__img
									img(src="./assets/partner/partner_5.png", alt="")
					.swiper-slide
						.index-partner__item
							a.item__link(href="#")
								.item__img
									img(src="./assets/partner/partner_6.png", alt="")
					.swiper-slide
						.index-partner__item
							a.item__link(href="#")
								.item__img
									img(src="./assets/partner/partner_7.png", alt="")