.index__banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a(href="#")
					img(src="./assets/banners/index_1.jpg", alt="")
			.swiper-slide
				a(href="#")
					img(src="./assets/banners/index_2.jpg", alt="")
	nav.widget__social.d-f.ai-c
		.widget__item
			a.widget__link(href="#")
				img.svg(src="./assets/icons/facebook.svg")
		.widget__item
			a.widget__link(href="#")
				img.svg(src="./assets/icons/instagram.svg")
		.widget__item
			a.widget__link(href="#")
				img.svg(src="./assets/icons/twitter.svg")
		.widget__item
			a.widget__link(href="#")
				img.svg(src="./assets/icons/envelope.svg")
