.index__banner
	.mobile.logo
		a(href="/")
			img.svg(src="./assets/logo.svg")
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a(href="#")
					img(src="./assets/banners/index_1.jpg", alt="")
			.swiper-slide
				a(href="#")
					img(src="./assets/banners/index_2.jpg", alt="")