mixin pagination
	.pagination
		ul.pagination__list
			li.pagination__prev
				a.pagination__link(href="#")
					img.svg(src="./assets/icons/arrow_left_no_outline.svg")
			li.pagination__item
				a.pagination__link(href="#") 1
			li.pagination__item
				a.pagination__link(href="#") 2
			li.pagination__item.active
				a.pagination__link(href="#") 3
			li.pagination__dots
				a.pagination__link(href="#") ...
			li.pagination__item
				a.pagination__link(href="#") 126
			li.pagination__next
				a.pagination__link(href="#")
					img.svg(src="./assets/icons/arrow_right_no_outline.svg")