
@using MainProject.Core
@model MainProject.SBussiness.LandingPage.Models.News.NewsDetailViewModel


<div class="project-detail pd-70">
	<div class="container">
		<div class="project-detail__wrapper block__content-short">
			<div class="block__content project-detail__content">
				<h1>@Model.Article.Title</h1><br>
				@Html.Raw(Model.Article.Body)
			</div>
		</div>
	</div>
</div>
<div class="invest-detail-page" id="js-page-verify" hidden></div>