.about__antin.pd-70
	.container
		.row
			.col-md-6.wow.fadeInLeft.as-c
				.block__content
					.content
						h2 AN TÍN GROUP
						h3 Thương trường là kho báu
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  Cum sociis natoque penatibus et magnis.
						br
						p Aenean massa. Cum sociis natoque penatibus et magnis dis parturient mad montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, do you in a pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. who Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Lorem mad Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ever since vel. Lorem Ipsum has been the industry's standard.
			.col-md-6.wow.fadeInRight
				.block__img(data-ratio="1.25")
					img.lazyload.blur-up.ofcv(data-src="./assets/about/about_1.jpg")