.about__messages
	.am__block-1
		.container
			.row
				.col-lg-6
					.am__content.block__content
						h2 THÔNG ĐIỆP CT HĐQT
						h3 Cộng đồng hạnh phúc
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  Cum sociis natoque penatibus et magnis.
						br
						p Aenean massa. Cum sociis natoque penatibus et magnis dis parturient made a montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque a eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo to  fringilla vel, aliquet nec, vulputate eget, arcu. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						br
						p industry's standard dummy text ever since the 1500sLorem Ipsum is simply do dummy text of the printing and typesetting industry. Lorem Ipsum has been a the industry's standard dummy text ever since the 1500s, when an unknown an printer took a galley of type and scrambled.
						br
						p It has survived not only five centuries, but also the leap into electronic made in typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.
				.col-lg-4
					.am__img.block__img
						img.lazyload.blur-up(data-src="./assets/about/about_3.jpg")
	.am__block-2.pd-70
		.container
			.row
				.col-lg-6
					.am__img.block__img
						img.lazyload.blur-up(data-src="./assets/about/about_4.jpg")
				.col-lg-6
					.am__content.block__content
						h2 THÔNG ĐIỆP CT HĐQT
						h3 Cộng đồng hạnh phúc
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  Cum sociis natoque penatibus et magnis.
						br
						p Aenean massa. Cum sociis natoque penatibus et magnis dis parturient made a montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque a eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo to  fringilla vel, aliquet nec, vulputate eget, arcu. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						br
						p industry's standard dummy text ever since the 1500sLorem Ipsum is simply do dummy text of the printing and typesetting industry. Lorem Ipsum has been a the industry's standard dummy text ever since the 1500s, when an unknown an printer took a galley of type and scrambled.
						br
						p It has survived not only five centuries, but also the leap into electronic made in typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.