.about__staffs
	.container
		.row.ai-c
			.col-xl-1
			.col-lg-5.col-xl-4.col-md-6.pd-70.wow.fadeInLeft
				h2.main-title.tagline TS Nguyễn Đức Thọ
				p Chủ tịch HĐQT - TGĐ
				.block__content.about__staffs-content
					p "…Lorem ipsum dolor sit amet sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam It has survived not only five centuries, but also the leap into."
			.col-lg-5.col-md-6.fadeInRight.wow(data-wow-delay="0.2s")
				.about__staffs-img.ta-c
					img.lazyload.blur-up(data-src="./assets/about/about_staff_1.png")
.about__staffs-slider.pd-70
	.container
		.block__title.fadeInUp.wow
			h2.main-title.ta-c.cl-main Thành viên hội đồng quản trị
		.about__staffs-slider__wrapper.fadeInUp.wow
			.swiper__prev
				img.svg(src="./assets/icons/arrow_left_2.svg")
			.swiper__next
				img.svg(src="./assets/icons/arrow_right_2.svg")
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.staff__item
							.item__img
								img(src="./assets/about/about_staff_2.jpg")
							.item__description
								h4 Mr . Hoang Viet Hung
								p Phó chủ tịch HĐQT
					.swiper-slide
						.staff__item
							.item__img
								img(src="./assets/about/about_staff_2.jpg")
							.item__description
								h4 Mr . Hoang Viet Hung
								p Phó chủ tịch HĐQT
					.swiper-slide
						.staff__item
							.item__img
								img(src="./assets/about/about_staff_2.jpg")
							.item__description
								h4 Mr . Hoang Viet Hung
								p Phó chủ tịch HĐQT
					.swiper-slide
						.staff__item
							.item__img
								img(src="./assets/about/about_staff_2.jpg")
							.item__description
								h4 Mr . Hoang Viet Hung
								p Phó chủ tịch HĐQT
.about__ceos-slider.pd-70
	.container
		.block__title.d-f.jc-c.fadeInUp.wow
			h2.main-title.cl-white.tagline BAN TỔNG GIÁM ĐỐC
		.about__ceos-slider__wrapper.fadeInUp.wow
			.swiper__prev
				img.svg(src="./assets/icons/arrow_left_2.svg")
			.swiper__next
				img.svg(src="./assets/icons/arrow_right_2.svg")
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.ceo__item
							.item__img
								img(src="./assets/about/about_staff_2.jpg")
							.item__description
								h4 Mr . Hoang Viet Hung
								p Phó chủ tịch HĐQT
					.swiper-slide
						.ceo__item
							.item__img
								img(src="./assets/about/about_staff_2.jpg")
							.item__description
								h4 Mr . Hoang Viet Hung
								p Phó chủ tịch HĐQT
					.swiper-slide
						.ceo__item
							.item__img
								img(src="./assets/about/about_staff_2.jpg")
							.item__description
								h4 Mr . Hoang Viet Hung
								p Phó chủ tịch HĐQT