.about__company-structures
	.container
		.about__company-structures-wrapper.pt-70.block__content-long
			.block__title.fadeInUp.wow
				h2.main-title.cl-main.ta-c SƠ ĐỒ TỔ CHỨC AN TÍN GROUP
			.block__img.fadeInUp.wow
				img.lazyload.blur-up(data-src="./assets/about/about_5.png")
		.about__company-structures-wrapper.pd-70.block__content-long
			.block__title.fadeInUp.wow
				h2.main-title.cl-main.ta-c MÔ HÌNH AN TÍN GROUP
			.block__img.fadeInUp.wow
				img.lazyload.blur-up(data-src="./assets/about/about_6.png")