.about__company-members.pd-70
	.container
		.about__company-members-wrapper
			.row
				.col-sm-6.fadeInUp.wow
					.about__company-member__item
						a.item__link(href="#")
							.item__img
								img.ofcv.lazyload.blur-up(data-src="./assets/about/about_member_1.jpg")
							.item__description
								.item__label
									img.lazyload.blur-up(data-src="./assets/icons/antin_label.svg")
								h4.item__title.tt-u công ty cổ phần du lịch an tín travel
				.col-sm-6.fadeInUp.wow
					.about__company-member__item
						a.item__link(href="#")
							.item__img
								img.ofcv.lazyload.blur-up(data-src="./assets/about/about_member_2.jpg")
							.item__description
								.item__label
									img.lazyload.blur-up(data-src="./assets/icons/antin_label.svg")
								h4.item__title.tt-u công ty cổ phần du lịch an tín travel
				.col-sm-6.fadeInUp.wow
					.about__company-member__item
						a.item__link(href="#")
							.item__img
								img.ofcv.lazyload.blur-up(data-src="./assets/about/about_member_3.jpg")
							.item__description
								.item__label
									img.lazyload.blur-up(data-src="./assets/icons/antin_label.svg")
								h4.item__title.tt-u công ty cổ phần du lịch an tín travel
				.col-sm-6.fadeInUp.wow
					.about__company-member__item
						a.item__link(href="#")
							.item__img
								img.ofcv.lazyload.blur-up(data-src="./assets/about/about_member_4.jpg")
							.item__description
								.item__label
									img.lazyload.blur-up(data-src="./assets/icons/antin_label.svg")
								h4.item__title.tt-u công ty cổ phần du lịch an tín travel
				.col-sm-6.fadeInUp.wow
					.about__company-member__item
						a.item__link(href="#")
							.item__img
								img.ofcv.lazyload.blur-up(data-src="./assets/about/about_member_5.jpg")
							.item__description
								.item__label
									img.lazyload.blur-up(data-src="./assets/icons/antin_label.svg")
								h4.item__title.tt-u công ty cổ phần du lịch an tín travel
				.col-sm-6.fadeInUp.wow
					.about__company-member__item
						a.item__link(href="#")
							.item__img
								img.ofcv.lazyload.blur-up(data-src="./assets/about/about_member_6.jpg")
							.item__description
								.item__label
									img.lazyload.blur-up(data-src="./assets/icons/antin_label.svg")
								h4.item__title.tt-u công ty cổ phần du lịch an tín travel
				.col-sm-6.fadeInUp.wow
					.about__company-member__item
						a.item__link(href="#")
							.item__img
								img.ofcv.lazyload.blur-up(data-src="./assets/about/about_member_1.jpg")
							.item__description
								.item__label
									img.lazyload.blur-up(data-src="./assets/icons/antin_label.svg")
								h4.item__title.tt-u công ty cổ phần du lịch an tín travel
				.col-sm-6.fadeInUp.wow
					.about__company-member__item
						a.item__link(href="#")
							.item__img
								img.ofcv.lazyload.blur-up(data-src="./assets/about/about_member_2.jpg")
							.item__description
								.item__label
									img.lazyload.blur-up(data-src="./assets/icons/antin_label.svg")
								h4.item__title.tt-u công ty cổ phần du lịch an tín travel