.about__customers.pd-70
	.container
		.about__customers-wrapper
			.row
				.col-6.col-md-4.fadeInUp.wow
					.about__customers__item
						a.item__link.fcc(href="#")
							img.lazyload.blur-up(data-src="./assets/about/partners/cocacola.png")
				.col-6.col-md-4.fadeInUp.wow
					.about__customers__item
						a.item__link.fcc(href="#")
							img.lazyload.blur-up(data-src="./assets/about/partners/namesonholding.png")
				.col-6.col-md-4.fadeInUp.wow
					.about__customers__item
						a.item__link.fcc(href="#")
							img.lazyload.blur-up(data-src="./assets/about/partners/novaland.png")
				.col-6.col-md-4.fadeInUp.wow
					.about__customers__item
						a.item__link.fcc(href="#")
							img.lazyload.blur-up(data-src="./assets/about/partners/pvinvest.png")
				.col-6.col-md-4.fadeInUp.wow
					.about__customers__item
						a.item__link.fcc(href="#")
							img.lazyload.blur-up(data-src="./assets/about/partners/swancity.png")
				.col-6.col-md-4.fadeInUp.wow
					.about__customers__item
						a.item__link.fcc(href="#")
							img.lazyload.blur-up(data-src="./assets/about/partners/tanhoangminh.png")
				.col-6.col-md-4.fadeInUp.wow
					.about__customers__item
						a.item__link.fcc(href="#")
							img.lazyload.blur-up(data-src="./assets/about/partners/vinamilk.png")
				.col-6.col-md-4.fadeInUp.wow
					.about__customers__item
						a.item__link.fcc(href="#")
							img.lazyload.blur-up(data-src="./assets/about/partners/tanhoangminh.png")
				.col-6.col-md-4.fadeInUp.wow
					.about__customers__item
						a.item__link.fcc(href="#")
							img.lazyload.blur-up(data-src="./assets/about/partners/vinamilk.png")