.gallery
	.gallery-images.pt-70
		.container
			.block__title
				h2.main-title.cl-main.ta-c Thư viện hình ảnh
			.gallery-images__slider
				.swiper__prev
					img.svg(src="./assets/icons/arrow_left_2.svg")
				.swiper__next
					img.svg(src="./assets/icons/arrow_right_2.svg")
				.swiper-container
					.swiper-wrapper
						.swiper-slide(type="image")
							.gallery-images__item
								.item__img
									img(src="./assets/gallery/gallery_img_thumb_1.jpg", alt="")
								.item__list
									a(href="./assets/gallery/gallery_img_thumb_1.jpg")
										img(src="./assets/gallery/gallery_img_thumb_1.jpg")
									a(href="./assets/gallery/gallery_img_thumb_2.jpg")
										img(src="./assets/gallery/gallery_img_thumb_2.jpg")
									a(href="./assets/gallery/gallery_img_thumb_3.jpg")
										img(src="./assets/gallery/gallery_img_thumb_3.jpg")
								.item__description
									h4 Maldives - Khám Phá Chốn Thiên Đường Nơi Hạ Giới
						.swiper-slide(type="image")
							.gallery-images__item
								.item__img
									img(src="./assets/gallery/gallery_img_thumb_2.jpg", alt="")
								.item__list
									a(href="./assets/gallery/gallery_img_thumb_2.jpg")
										img(src="./assets/gallery/gallery_img_thumb_2.jpg")
									a(href="./assets/gallery/gallery_img_thumb_3.jpg")
										img(src="./assets/gallery/gallery_img_thumb_3.jpg")
									a(href="./assets/gallery/gallery_img_thumb_1.jpg")
										img(src="./assets/gallery/gallery_img_thumb_1.jpg")
								.item__description
									h4 Maldives - Khám Phá Chốn Thiên Đường Nơi Hạ Giới
						.swiper-slide(type="image")
							.gallery-images__item
								.item__img
									img(src="./assets/gallery/gallery_img_thumb_3.jpg", alt="")
								.item__list
									a(href="./assets/gallery/gallery_img_thumb_3.jpg")
										img(src="./assets/gallery/gallery_img_thumb_3.jpg")
									a(href="./assets/gallery/gallery_img_thumb_1.jpg")
										img(src="./assets/gallery/gallery_img_thumb_1.jpg")
									a(href="./assets/gallery/gallery_img_thumb_2.jpg")
										img(src="./assets/gallery/gallery_img_thumb_2.jpg")
								.item__description
									h4 Maldives - Khám Phá Chốn Thiên Đường Nơi Hạ Giới
						.swiper-slide(type="image")
							.gallery-images__item
								.item__img
									img(src="./assets/gallery/gallery_img_thumb_2.jpg", alt="")
								.item__list
									a(href="./assets/gallery/gallery_img_thumb_2.jpg")
										img(src="./assets/gallery/gallery_img_thumb_2.jpg")
									a(href="./assets/gallery/gallery_img_thumb_1.jpg")
										img(src="./assets/gallery/gallery_img_thumb_1.jpg")
									a(href="./assets/gallery/gallery_img_thumb_3.jpg")
										img(src="./assets/gallery/gallery_img_thumb_3.jpg")
								.item__description
									h4 Maldives - Khám Phá Chốn Thiên Đường Nơi Hạ Giới
	.gallery-videos.pd-70
		.container
			.block__title
				h2.main-title.cl-main.ta-c Thư viện Video
			.gallery-videos__slider
				.swiper__prev
					img.svg(src="./assets/icons/arrow_left_2.svg")
				.swiper__next
					img.svg(src="./assets/icons/arrow_right_2.svg")
				.swiper-container
					.swiper-wrapper
						.swiper-slide(type="video")
							.gallery-videos__item
								a.item__link(href="https://www.youtube.com/watch?v=R4em3LKQCAQ")
									.item__img
										img(src="./assets/gallery/gallery_vid_thumb_1.jpg", alt="")
									.item__play
										img.svg(src="./assets/icons/video_play.svg")
								.item__description
									h4 Maldives - Khám Phá Chốn Thiên Đường Nơi Hạ Giới
						.swiper-slide(type="video")
							.gallery-videos__item
								a.item__link(href="https://www.youtube.com/watch?v=R4em3LKQCAQ")
									.item__img
										img(src="./assets/gallery/gallery_vid_thumb_2.jpg", alt="")
									.item__play
										img.svg(src="./assets/icons/video_play.svg")
								.item__description
									h4 Maldives - Khám Phá Chốn Thiên Đường Nơi Hạ Giới
						.swiper-slide(type="video")
							.gallery-videos__item
								a.item__link(href="https://www.youtube.com/watch?v=R4em3LKQCAQ")
									.item__img
										img(src="./assets/gallery/gallery_vid_thumb_3.jpg", alt="")
									.item__play
										img.svg(src="./assets/icons/video_play.svg")
								.item__description
									h4 Maldives - Khám Phá Chốn Thiên Đường Nơi Hạ Giới
						.swiper-slide(type="video")
							.gallery-videos__item
								a.item__link(href="https://www.youtube.com/watch?v=R4em3LKQCAQ")
									.item__img
										img(src="./assets/gallery/gallery_vid_thumb_2.jpg", alt="")
									.item__play
										img.svg(src="./assets/icons/video_play.svg")
								.item__description
									h4 Maldives - Khám Phá Chốn Thiên Đường Nơi Hạ Giới