.page__nav-container.pt-70
	.block__content-long
		.page__nav-2
			h2.main-title.cl-main.mobile Dự án
			ul.nav__list.lst-n
				li.nav__item
					a.nav__link(href="#") Du lịch
				li.nav__item
					a.nav__link(href="#") Bất động sản
				li.nav__item
					a.nav__link(href="#") Hàng không
				li.nav__item
					a.nav__link(href="#") Truyền thông
				li.nav__item
					a.nav__link(href="#") Giáo dục
				li.nav__item
					a.nav__link(href="#") Đầu tư
				li.nav__item
					a.nav__link(href="#") Công nghệ
.project-category.pd-70
	.container
		.block__content-long.project-category__wrapper
			.row
				.col-sm-6.col-md-4.col-xl-3
					.project-category__item
						a.item__link(href="project-chitiet.html")
							.item__img
								img.lazyload.blur-up.ofcv(data-src="./assets/project/project_category_1.jpg")
							.item__description
								h2.item__title KHU DU LỊCH NGHỈ DƯỠNG VÀ BIỆT THỰ SINH THÁI FLC CÙ LAO XANH, QUY NHƠN, BÌNH ĐỊNH
				.col-sm-6.col-md-4.col-xl-3
					.project-category__item
						a.item__link(href="project-chitiet.html")
							.item__img
								img.lazyload.blur-up.ofcv(data-src="./assets/project/project_category_2.jpg")
							.item__description
								h2.item__title KHU DU LỊCH NGHỈ DƯỠNG VÀ BIỆT THỰ SINH THÁI FLC CÙ LAO XANH, QUY NHƠN, BÌNH ĐỊNH
				.col-sm-6.col-md-4.col-xl-3
					.project-category__item
						a.item__link(href="project-chitiet.html")
							.item__img
								img.lazyload.blur-up.ofcv(data-src="./assets/project/project_category_3.jpg")
							.item__description
								h2.item__title KHU DU LỊCH NGHỈ DƯỠNG VÀ BIỆT THỰ SINH THÁI FLC CÙ LAO XANH, QUY NHƠN, BÌNH ĐỊNH
				.col-sm-6.col-md-4.col-xl-3
					.project-category__item
						a.item__link(href="project-chitiet.html")
							.item__img
								img.lazyload.blur-up.ofcv(data-src="./assets/project/project_category_4.jpg")
							.item__description
								h2.item__title KHU DU LỊCH NGHỈ DƯỠNG VÀ BIỆT THỰ SINH THÁI FLC CÙ LAO XANH, QUY NHƠN, BÌNH ĐỊNH
				.col-sm-6.col-md-4.col-xl-3
					.project-category__item
						a.item__link(href="project-chitiet.html")
							.item__img
								img.lazyload.blur-up.ofcv(data-src="./assets/project/project_category_5.jpg")
							.item__description
								h2.item__title KHU DU LỊCH NGHỈ DƯỠNG VÀ BIỆT THỰ SINH THÁI FLC CÙ LAO XANH, QUY NHƠN, BÌNH ĐỊNH
				.col-sm-6.col-md-4.col-xl-3
					.project-category__item
						a.item__link(href="project-chitiet.html")
							.item__img
								img.lazyload.blur-up.ofcv(data-src="./assets/project/project_category_6.jpg")
							.item__description
								h2.item__title KHU DU LỊCH NGHỈ DƯỠNG VÀ BIỆT THỰ SINH THÁI FLC CÙ LAO XANH, QUY NHƠN, BÌNH ĐỊNH
			.pagination__wrapper
				+pagination