.about__customers__item {
	margin-bottom: 20px;

	.item__link {
		box-shadow: 0 3px 6px rgba(black, .15);
		padding: 30px;
		height: 150px;
	}
}

.about__customers {
	.row {
		margin-bottom: -20px;
	}
}

@media (min-width: 768px) {
	.about__customers__item {
		.item__link {
			height: 175px;
			padding: 35px;
		}
	}
}

@media (min-width: 1025px) {
	.about__customers-wrapper {
		padding-right: 300px;
		padding-left: 50px;
	}
}

@media (min-width: 1200px) {
	.about__customers-wrapper {
		padding-left: 75px;
		padding-right: 325px;
	}

	.about__customers__item {
		.item__link {
			height: 200px;
			padding: 40px;
		}
	}
}
@media (min-width: 1440px) {
	.about__customers-wrapper {
		padding-left: 100px;
		padding-right: 350px;
	}
}