.index__banner {
	position: relative;

	.swiper-slide {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.logo {
		position: absolute;
		left: 50%;
		top: 20px;
		transform: translateX(-50%);
		z-index: 2;
	}
}

.page__banner {
	position: relative;

	.swiper-slide {
		height: 280px;
	}
}

.page__title {
	font-size: 15px;
	color: white;
	text-transform: uppercase;
}

.page__breadcrumb {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	padding-bottom: 15px;
}

.breadcrumb {
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;

	a {
		font-size: 10px;
		color: white;
		text-transform: uppercase;
	}

	li {
		+.breadcrumb__item {
			&:before {
				content: '/';
				margin-left: 6px;
				margin-right: 6px;
				color: white;
			}
		}
	}
}

@media (min-width: 768px) {
	.page__breadcrumb {
		padding-bottom: 25px;
	}

	.breadcrumb__nav {
		.breadcrumb__link {
			font-size: 11px;
		}
	}

	.page__title {
		font-size: 19px;
	}
}

@media (min-width: 1025px) {
	.page__banner {
		.swiper-slide {
			height: unset;
		}
	}
}

@media (min-width: 1200px) {
	.page__breadcrumb {
		padding-bottom: 35px;
	}

	.breadcrumb__nav {
		.breadcrumb__link {
			font-size: 12px;
		}
	}

	.page__title {
		font-size: 23px;
	}
}
