@model List<MainProject.Core.Article>
<div class="swiper-container">
	<div class="swiper-wrapper">
		@foreach (var Item in Model)
		{
			<div class="swiper-slide">
				<div class="index-project-item">
					<a class="item__link" href=@Item.GetUrl()>
						<div class="item__img ov-h"><img class="lazyload blur-up ofcv" data-src=@Item.ImageDefault alt=""></div>
						<div class="item__description">
							<h4 class="item__title">@Item.Title</h4>
						</div>
					</a>
				</div>
			</div>
		}
	</div>
	<div class="swiper-pagination"></div>
</div>
