extends _templates/_layout/layout.pug

block var
	- let title = 'Liên hệ';
	- let bodyClass = 'contact-page';
block loading
block banner,breadcrumb
	+page-banner('./assets/banners/invest_1.jpg')
block main
	include _templates/contact/c-1
block scripts
