extends _templates/_layout/layout.pug

block var
	- let title = 'Lĩnh vực đầu tư';
	- let bodyClass = 'invest-page';
block loading
block banner,breadcrumb
	+page-banner('./assets/banners/invest_1.jpg')
block main
	include _templates/invest/i-1
block scripts
