footer
	.footer-top
		.container
			.row
				.col-lg-4.col-xl-2
					.footer__logo
						img.svg(src="./assets/logo_2.svg")
					.footer__address
						p Add: Tòa nhà H3, 384 Hoàng Diệu, Quận 4, TP.Hồ Chí Minh
						p Phone: 028. 38266766 
							br
							| Fax: 028. 38266766
						p Email: info@antingroup.vn
				.col-lg-8.col-xl-10
					.row
						.col-6.col-sm-4.col-xl
							h4.footer__title VỀ AN TÍN GROUP
							ul.footer__navigation
								li.nav__item
									a.nav__link(href="#") Thông Điệp CT HĐQT
								li.nav__item
									a.nav__link(href="#") Tuyên Ngôn Giá Trị
								li.nav__item
									a.nav__link(href="#") Tuyên Ngôn Chiến Lược
								li.nav__item
									a.nav__link(href="#") Công Ty Thành Viên
								li.nav__item
									a.nav__link(href="#") Khách Hàng
						.col-6.col-sm-4.col-xl
							h4.footer__title LĨNH VỰC HOẠT ĐỘNG
							ul.footer__navigation
								li.nav__item
									a.nav__link(href="#") Lĩnh Vực Truyền Thông
								li.nav__item
									a.nav__link(href="#") Lĩnh Vực Du Lịch
								li.nav__item
									a.nav__link(href="#") Lĩnh Vực Công Nghệ
								li.nav__item
									a.nav__link(href="#") Lĩnh Vực Đầu Tư
								li.nav__item
									a.nav__link(href="#") Lĩnh Vực Du Học
								li.nav__item
									a.nav__link(href="#") Lĩnh Vực Đào Tạo
						.col-12.col-sm-4.col-xl
							h4.footer__title THÔNG TIN
							ul.footer__navigation
								li.nav__item
									a.nav__link(href="#") Sự Kiện An Tín
								li.nav__item
									a.nav__link(href="#") Video Sự Kiện An Tín
								li.nav__item
									a.nav__link(href="#") Tuyển Dụng
								li.nav__item
									a.nav__link(href="#") Thư Viện Ảnh
								li.nav__item
									a.nav__link(href="#") Cơ Hội Nghề Nghiệp
								li.nav__item
									a.nav__link(href="#") Liên Hệ
						.col-12.col-xl-4
							h4.footer__title ĐĂNG KÍ NHẬN TIN
							form.footer__subscribe
								p.subscribe__description Xin vui lòng để lại địa chỉ email, chúng tôi sẽ cập nhật những tin tức quan trọng của An Tín Group tới quý khách
								.subscribe__input
									input(type="text" placeholder="Email")
									button Xác nhận
							.footer__social
								.social__item
									a.social__link(href="#")
										img.svg(src="./assets/icons/facebook.svg")
								.social__item
									a.social__link(href="#")
										img.svg(src="./assets/icons/instagram.svg")
								.social__item
									a.social__link(href="#")
										img.svg(src="./assets/icons/zalo.svg")
								.social__item
									a.social__link(href="#")
										img.svg(src="./assets/icons/envelope.svg")
	.footer-copyright