mixin page-banner(imgUrl)
	.page__banner
		.mobile.logo
			a(href="/")
				img.svg(src="./assets/logo.svg")
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					a(href="#")
						img.ofcv(src=imgUrl, alt="")
		.page__breadcrumb
			.container
				ol.breadcrumb__nav.lst-n
					li.breadcrumb__item
						a.breadcrumb__link(href="#") Trang chủ
					li.breadcrumb__item
						a.breadcrumb__link(href="#") Giới thiệu
				h1.page__title Về An Tín