extends _templates/_layout/layout.pug

block var
	- let title = 'Lĩnh vực đầu tư - Danh sách';
	- let bodyClass = 'invest-list-page';
block loading
block banner,breadcrumb
	+page-banner('./assets/banners/invest_2.jpg')
block main
	include _templates/invest/i-2
block scripts
