.page__nav-container
	.container
		.row.no-gutters
			.col-lg-auto.page__nav
				h2 Tin tức - Sự kiện
				ul.nav__list.lst-n
					li.nav__item
						a.nav__link(href="#") Tin An Tín Group
					li.nav__item
						a.nav__link(href="#") Thông tin báo chí
					li.nav__item
						a.nav__link(href="#") Thông tin hợp tác