.ofcv {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	font-family: 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter: blur(10px);
	transition: filter .5s linear;

	&.lazyloaded {
		filter: blur(0);
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.row-m5 {
	margin: 0 -5px;

	[class*='col-'] {
		padding-right: 5px;
		padding-left: 5px;
	}
}

.main-title {
	font-size: 17px;
	text-transform: uppercase;

	&.mb-40 {
		margin-bottom: 15px;
	}

	&.cl-white {
		color: white
	}

	&.cl-main {
		color: map-get($mau, main);
	}

	&.cl-black {
		color: black;
	}

	@media (min-width: 768px) {
		font-size: 22px;

		&.mb-40 {
			margin-bottom: 20px;
		}
	}

	@media (min-width: 1025px) {
		font-size: 27px;

		&.mb-40 {
			margin-bottom: 25px;
		}
	}

	@media (min-width: 1200px) {
		font-size: 32px;

		&.mb-40 {
			margin-bottom: 30px;
		}
	}

	@media (min-width: 1440px) {
		&.mb-40 {
			margin-bottom: 35px;
		}
	}
}

.tagline {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 160px;
		left: 0;
		height: 2px;
		bottom: 0;
		background-color: map-get($mau, main);
	}
}

.pt-70 {
	padding-top: 30px;

	@media (min-width: 768px) {
		padding-top: 50px;
	}

	@media (min-width: 1200px) {
		padding-top: 70px;
	}
}

.pb-70 {
	padding-bottom: 30px;

	@media (min-width: 768px) {
		padding-bottom: 50px;
	}

	@media (min-width: 1200px) {
		padding-bottom: 70px;
	}
}

.pd-70 {
	padding-top: 30px;
	padding-bottom: 30px;

	@media (min-width: 768px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	@media (min-width: 1200px) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

.scrollbar {
	overflow-y: auto;

	&::-webkit-scrollbar {
		background-color: darken(white, 10%);
		width: 5px;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: map-get($mau, main);
		border-radius: 10px;
	}
}

.page__nav {
	box-shadow: 0 3px 6px rgba(black, .15);
	width: 250px;
	margin-left: auto;

	.nav__list {
		padding-left: 15px;
	}

	.nav__link {
		font-size: 14px;
		display: flex;
		align-items: center;
		height: 30px;

		&:before {
			margin-right: 10px;
			background-image: url('../assets/icons/list_bullet.svg');
			display: inline-block;
			width: 16px;
			height: 16px;
			content: '';
		}
	}

	.nav__item {
		+.nav__item {
			.nav__link {
				border-top: 1px solid rgba(#8B8B8B, .4);
			}
		}
	}

	h2 {
		color: map-get($mau, main);
		font-size: 16px;
		line-height: 46px;
		padding: 0 40px;
	}

	@media (min-width: 1025px) {
		position: absolute;
		top: -60px;
		z-index: 2;
		background-color: white;
		right: 10px;

		h2 {
			font-size: 18px;
			line-height: 52px;
		}

		.nav__link {
			font-size: 16px;
			height: 35px;
		}
	}

	@media (min-width: 1200px) {
		h2 {
			font-size: 19px;
			line-height: 60px;
		}

		.nav__link {
			font-size: 17px;
			height: 40px;
		}
	}

	@media (min-width: 1440px) {

		h2 {
			font-size: 20px;
		}

		.nav__link {
			font-size: 18px;
		}
	}
}

.page__nav-2 {
	.nav__list {
		padding-left: 0;
		display: flex;
		justify-content: space-between;
	}

	.nav__link {
		font-size: 14px;
		font-weight: 700;
		color: #707070;
		text-transform: uppercase;
		display: block;
		text-align: center;
	}

	.nav__item {
		-ms-flex-preferred-size: 0;
		-ms-flex-positive: 1;
		-webkit-box-flex: 1;
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
		position: relative;
		padding: 0 10px;

		&.active {
			.nav__link {
				color: map-get($mau, main);
			}
		}

		+.nav__item {
			&:before {
				content: '/';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translate(-50%, -50%);
				color: #D1D3D4;
			}
		}
	}

	@media (min-width: 1025px) {
		.nav__link {
			font-size: 16px;
		}
	}

	@media (min-width: 1439.98px) {
		.nav__link {
			font-size: 18px;
		}
	}
}

.block__content {
	text-align: justify;
	font-size: 14px;

	h2 {
		@extend .main-title;
		margin-bottom: 5px;
		color: map-get($mau, main);
	}

	h3 {
		text-transform: initial;
		margin-bottom: 5px;
		color: map-get($mau, main);
		font-size: 16px;
		font-weight: 400;
	}

	p {
		font-weight: 300;
	}

	@media (min-width: 768px) {
		font-size: 15px;

		h2 {
			margin-bottom: 7px;
		}

		h3 {
			margin-bottom: 7px;
			font-size: 17px;
		}
	}

	@media (min-width: 1200px) {
		font-size: 16px;

		h2 {
			margin-bottom: 9px;
		}

		h3 {
			margin-bottom: 9px;
			font-size: 18px;
		}
	}
}

.block__content-short {
	max-width: 1080px;
	margin: 0 auto;
	width: 100%;
}

.block__content-long {
	max-width: 1350px;
	margin: 0 auto;
	width: 100%;
}