.index-project.pb-70
	.container
		.block__content-long
			.row.index-project-titles
				.col-md-auto
					.block__title
						h2.main-title.cl-black Dự án
				.col-md-6.ml-at
					nav.index-project-nav
						.swiper-prev.fcc
							img.svg(src="./assets/icons/swiper_prev_1.svg")
						.swiper-next.fcc
							img.svg(src="./assets/icons/swiper_next_1.svg")
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									a.nav-link(href="/api/project.html") Du lịch
								.swiper-slide
									a.nav-link(href="/api/travel.html") Bất động sản
								.swiper-slide
									a.nav-link(href="/api/project.html") Hàng không
								.swiper-slide
									a.nav-link(href="/api/travel.html") Truyền thông
								.swiper-slide
									a.nav-link(href="/api/project.html") Giáo dục
								.swiper-slide
									a.nav-link(href="/api/travel.html") Đầu tư
								.swiper-slide
									a.nav-link(href="/api/project.html") Công nghệ
			.index-project-list
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.index-project-item
								a(href="#").item__link
									.item__img.ov-h
										img.lazyload.blur-up.ofcv(data-src="./assets/project/index_project_1.jpg", alt="")
									.item__description
										h4.item__title KHU DU LỊCH NGHỈ DƯỠNG VÀ BIỆT THỰ SINH THÁI FLC CÙ LAO XANH, QUY NHƠN, BÌNH ĐỊNH
						.swiper-slide
							.index-project-item
								a(href="#").item__link
									.item__img.ov-h
										img.lazyload.blur-up.ofcv(data-src="./assets/project/index_project_2.jpg", alt="")
									.item__description
										h4.item__title Tổ Hợp Chung Cư Cao Cấp Và Văn Phòng Cho Thuê Bamboo Airways Tower
						.swiper-slide
							.index-project-item
								a(href="#").item__link
									.item__img.ov-h
										img.lazyload.blur-up.ofcv(data-src="./assets/project/index_project_3.jpg", alt="")
									.item__description
										h4.item__title Tổ Hợp Chung Cư Cao Cấp Và Văn Phòng Cho Thuê Bamboo Airways Tower
						.swiper-slide
							.index-project-item
								a(href="#").item__link
									.item__img.ov-h
										img.lazyload.blur-up.ofcv(data-src="./assets/project/index_project_1.jpg", alt="")
									.item__description
										h4.item__title Tổ Hợp Chung Cư Cao Cấp Và Văn Phòng Cho Thuê Bamboo Airways Tower
						.swiper-slide
							.index-project-item
								a(href="#").item__link
									.item__img.ov-h
										img.lazyload.blur-up.ofcv(data-src="./assets/project/index_project_3.jpg", alt="")
									.item__description
										h4.item__title Tổ Hợp Chung Cư Cao Cấp Và Văn Phòng Cho Thuê Bamboo Airways Tower
					.swiper-pagination