.index-news.pd-70
	.container-fluid
		.row.no-gutters
			.col-lg-4
				.block__title
					h2.main-title.cl-black Tin tức
					nav.index-news__nav
						.nav__item
							a.nav__link(href="#") TIN AN TÍN GROUP
						.nav__item.active
							a.nav__link(href="#") THÔNG TIN BÁO CHÍ
						.nav__item
							a.nav__link(href="#") THÔNG TIN HỢP TÁC
			.col-lg-8
				.index-news__list
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.index-news__item
									a.item__link(href="news-chitiet.html")
										.item__img
											img(src="./assets/news/news_1.jpg")
										.item__description
											h4.item__title An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac
							.swiper-slide
								.index-news__item
									a.item__link(href="news-chitiet.html")
										.item__img
											img(src="./assets/news/news_2.jpg")
										.item__description
											h4.item__title An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac
							.swiper-slide
								.index-news__item
									a.item__link(href="news-chitiet.html")
										.item__img
											img(src="./assets/news/news_3.jpg")
										.item__description
											h4.item__title An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac
							.swiper-slide
								.index-news__item
									a.item__link(href="news-chitiet.html")
										.item__img
											img(src="./assets/news/news_4.jpg")
										.item__description
											h4.item__title An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac
						.swiper-pagination